:root {
    --main-color: #10cab7;
    --secondary-color: #000000;
    --section-padding: 60px;
    --section-background: #f6f6f6;
    --min-transition: 0.5s ease;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
}

body {
    min-height: auto;
    background-repeat: no-repeat;
    background-size: cover;
}

html {
    scroll-behavior: smooth;
}


/* Start Global Rules */

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}


/* Small */

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}


/* Medium */

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}


/* Large */

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}


/* End Global Rules */


/* Start Components */

.special-heading {
    color: #ebeceb;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
    margin: 0;
}

.special-heading+p {
    margin: -30px 0 0;
    font-size: 20px;
    text-align: center;
    color: #797979;
}

@media (max-width: 767px) {
    .special-heading {
        font-size: 60px;
    }
    .special-heading+p {
        margin-top: -20px;
    }
}


/* End Components */


/* Start header1 */

.header1 {
    padding: 0;
    margin: 13px 5px 11px 0px;
}

.header1 .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header1 .logo1 {
    width: 150px;
}

@media (min-width: 664px) {
    .header1 .logo1 {
        display: none;
    }
}

.header1 .links1 {
    position: relative;
}

.header1 .links1:hover .icon1 span:nth-child(2) {
    width: 100%;
}

.header1 .links1 .icon1 {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

@media (min-width: 664px) {
    .header1 .links1 .icon1 {
        display: none;
    }
}

.header1 .links1 .icon1 span {
    background-color: #333;
    margin-bottom: 5px;
    height: 2.5px;
}

.header1 .links1 .icon1 span:first-child {
    width: 100%;
}

.header1 .links1 .icon1 span:nth-child(2) {
    width: 60%;
    transition: var(--min-transition);
}

.header1 .links1 .icon1 span:last-child {
    width: 100%;
}

.header1 .links1 ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: var(--section-background);
    position: absolute;
    right: 0;
    min-width: 100%;
    top: calc(100% + 15px);
    display: none;
    border-radius: 11px;
    z-index: 1;
}


/* @media (min-width: 664px) {
    .header1 .links1 ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: nowrap;
        margin: -40px -19px 0px 0px;
    }
} */

.header1 .links1 ul::before {
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #000000 transparent;
    position: absolute;
    right: 5px;
    top: -20px;
    border-radius: 4px;
}

.header1 .links1:hover ul {
    display: block;
}

.header1 .links1 ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    transition: var(--min-transition);
}

.header1 .links1 ul li a:hover {
    padding-left: 25px;
}

.header1 .links1 ul li:not(:last-child) a {
    border-bottom: 1px solid #ddd;
}


/* Start header */


/* End header */

.head .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 664px) {
    .head .container {
        display: none;
    }
}

.head .container .ul-icon {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.head .container img .log {
    width: 70px;
}

@media (min-width: 664px) {
    .head .container .ul-icon a img {
        display: none;
    }
}

.head .container .ul-icon li {
    padding-left: 30px;
}

.head .container .ul-icon a {
    color: var(--secondary-color);
}


/* End Header */


/* Start Landing Section */

.landing {
    background-image: url(../img/5e29bebb5e786dede7348ffdb3ba4751.png);
    background-size: cover;
    background-attachment: fixed;
    height: calc(101vh - 64px);
    position: relative;
    background-position: center;
}

.landing .intro-text {
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    width: 320px;
    max-width: 100%;
}

.landing .intro-text h1 {
    margin: 0;
    font-weight: bold;
    font-size: 50px;
    color: #8ab0be;
}

.landing .intro-text p {
    font-size: 19px;
    line-height: 1.8;
    color: #ecd8cf;
}


/* Start Features */

.features {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    padding-top: 39px;

}

.features .feat {
    padding: 20px;
    text-align: center;
    transition: var(--min-transition);
}

.features .feat:hover {
    background-color: #d8d8d857;
    box-shadow: -3px 20px 30px rgb(0 0 0 / 40%);
    transform: scale(1.1);
    border-radius: 6px;
}

.features .feat i {
    color: var(--main-color);
    font-size: 40px;
}

.features .feat h3 {
    font-weight: 800;
    margin: 30px 0;
}

.features .feat p {
    line-height: 1.8;
    color: #777;
    font-size: 17px;
}


/* End Features */


/* Start Services */

.Services {
    padding-top: 60px;
    padding-bottom: 60px;
}

.Services .Services-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 76px;
    margin-top: 100px;
}

.Services .Services-content .srv {
    display: flex;
    margin-bottom: 40px;
}

@media (max-width: 767px) {
    .Services .Services-content .srv {
        flex-direction: column;
        text-align: center;
    }
}

.Services .Services-content .srv i {
    color: #cf0000;
    flex-basis: 60px;
    font-size: 34px;
}

.Services .Services-content .text {
    flex: 1;
}

.Services .Services-content .text h3 {
    margin: 0 0 20px;
}

.Services .Services-content .text p {
    color: #444;
    font-weight: 300;
    line-height: 1.6;
}

.Services .Services-content .image {
    text-align: center;
    position: relative;
}

.Services .Services-content .image::before {
    content: "";
    background-color: var(--secondary-color);
    border-radius: 10px;
    width: 100px;
    height: calc(100% + 100px);
    top: -50px;
    position: absolute;
    right: 10px;
    z-index: -1;
}

.Services .Services-content .image img {
    width: 260px;
    border-radius: 20px;
}

@media (max-width: 1200px) {
    .image-colmbr {
        display: none;
    }
}


/* End Services */


/* Start portfolio */

.portfolio {
    padding-top: 32px;
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}

.portfolio .portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 80px;
}

.portfolio .portfolio-content .card {
    background-color: rgb(24 22 22);
    padding: 10px;
    border-radius: 21px;
}

.portfolio .portfolio-content .card img {
    max-width: 100%;
    border-radius: 10px;
    max-height: 73%;
}

.portfolio .portfolio-content .card .info {
    padding: 30px;
}

.portfolio .portfolio-content .card .info h3 {
    margin: 0;
    color: wheat;
    text-align: center;
}

.portfolio .portfolio-content .card .info p {
    color: #c3aba7;
    line-height: 1.6;
    font-weight: 600;
    margin-bottom: 0;
    text-align: center;
}


/* End portfolio */


/* Start About */

.about {
    padding-top: var(--section-padding);
    padding-bottom: calc(var(--section-padding) + 60px);
}

.about .about-content {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (max-width: 991px) {
    .about .about-content {
        flex-direction: column;
        text-align: center;
    }
}

.about .about-content .image {
    position: relative;
    width: 250px;
    height: 375px;
    background-color: rgb(24 22 22);
    padding: 18px;
    border-radius: 23px;
}

@media (max-width: 991px) {
    .about .about-content .image {
        margin-left: auto;
        margin-right: auto;
    }
}


/* .about .about-content .image ::before {
    content: "";
    position: absolute;
    background-color: #ebeceb;
    width: 100px;
    height: calc(100% + 80px);
    top: -40px;
    left: -20px;
    z-index: -1;
}

.about .aout-content .image ::after {
    top: -40px;
    content: "";
    position: absolute;
    width: 120px;
    height: 300px;
    border-left: 80px var(--main-color);
    border-bottom: 80px var(--main-color);
    z-index: -1;
    right: -150px;
}

@media (max-width: 991px) {
    .about .about-content .image ::before .about .aout-content .image ::after {
        display: none;
    }
} */

.about .about-content .image img {
    max-width: 100%;
    border-radius: inherit;
}

.about .about-content .text {
    flex-basis: calc(100% - 500px);
}

.about .about-content .text p:first-of-type {
    font-size: xx-large;
    line-height: 4;
    margin-bottom: 24px;
}

.about .about-content .text hr {
    width: 50%;
    display: inline-block;
    border-color: var(--main-color);
}

.about .about-content .text p:last-of-type {
    line-height: 2;
    color: #777;
}


/* End About */


/* Start Contact  */

.Contact {
    padding-top: calc(var(--section-padding) + 60px);
    padding-bottom: calc(var(--section-padding) + 180px);
    background-color: var(--section-background);
}

.Contact .info {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: center;
}

.Contact .info .label {
    font-size: 26px;
    font-weight: 800;
    color: var(--secondary-color);
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.Contact .info .link {
    font-size: 35px;
    font-weight: 800;
    color: var(--main-color);
}

@media (min-width: 361px) {
    .Contact .info .link {
        font-size: 25px;
    }
}

.Contact .info .social {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 16px;
}

.Contact .info .social i {
    margin-left: 10px;
    color: #5c5c5c;
}

@media (max-width: 767px) {
    .Contact .info .link .Contact .info .label {
        font-size: 25px;
    }
}


/* End Contact  */

/* <!-- ====================== Start footer=================== --> */
/* <!-- ====================== End footer=================== --> */